.sections-repeater{
    .section{
        padding-top: 1rem;
        padding-bottom: 1rem;
        .row{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }




    /**
* ********************************************
* Section Header Module
* ********************************************
**/
    .sectionheader{
        padding: 1rem 0.5rem;   
    }
}
